<!DOCTYPE html>
<html>
<head>
	<title>Monitoramento de oxigenação do sangue</title>
    <style>
		.pulsar {
			animation: pulsar 1s ease-in-out infinite;
			transform-origin: center;
		}

		@keyframes pulsar {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.1);
			}
			100% {
				transform: scale(1);
			}
		}
	</style>
	<script>
		function verificarOxigenacao() {
            // Simulando a verificação da oxigenação do sangue
            var oxigenacao = Math.random(); // Valor aleatório entre 0 e 1

            // Obtendo as imagens de pulmão
            var pulmaoNormal = document.getElementById("pulmaoNormal");
            var pulmaoAnormal = document.getElementById("pulmaoAnormal");

            // Verificando a oxigenação e exibindo a imagem correspondente
            if (oxigenacao < 0.5) {
                pulmaoNormal.style.display = "none";
                pulmaoAnormal.classList.add("pulsar");
				pulmaoAnormal.style.display = "block";
            } else {
                pulmaoNormal.style.display = "block";
                pulmaoAnormal.style.display = "none";
            }
        }
	</script>
</head>
<body onload="verificarOxigenacao()">
	<h1>Monitoramento de oxigenação do sangue</h1>
	<p>Clique no botão abaixo para verificar manualmente a oxigenação do sangue:</p>
	<button onclick="verificarOxigenacao()">Verificar</button>
	<br><br>
	<img id="pulmaoNormal" src="pulmao.png"  width="200" height="200" style="display: block;">
	<img id="pulmaoAnormal" src="pulmao.png" width="200" height="200" style="display: none; border: 10px solid red; border-radius: 50%; background-color: transparent;">
</body>
</html>