<!DOCTYPE html>
<html>
<head>
	<title>Painel de Leito</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">

</head>
<body>
	<h1>Bomba de Infusão</h1>
    <table>
        <tr>
            <th>Item</th>
            <th>Quantidade</th>
            <th>Taxa</th>
        </tr>
        <tr>
            <td>Medicamento 1</td>
            <td>{{ qtd_med1 }}</td>
            <td>{{ taxa_med1 }}</td>
        </tr>
        <tr>
            <td>Medicamento 2</td>
            <td>{{ qtd_med2 }}</td>
            <td>{{ taxa_med2 }}</td>
        </tr>
        <tr>
            <td>Soro Fisiológico</td>
            <td>{{ qtd_soro }}</td>
            <td>{{ taxa_soro }}</td>
        </tr>
    </table>
      
            
	<table>
		<thead>
			<tr>
				<th>Equipamento</th>
				<th>Status</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Bomba de Infusão</td>
				<td id="bomba-status"> Quantidades: {{ status }} <br> {{atualizacao}}</td>
				<td>
					<button id="bomba-ligar" onclick="ligarBomba()">Ligar</button>
					<button id="bomba-desligar" onclick="desligarBomba()">Desligar</button>
				</td>
			</tr>
			<tr>
				<td>Respirador</td>
				<td id="respirador-status">Desligado</td>
				<td>
					<button id="respirador-ligar" onclick="ligarRespirador()">Ligar</button>
					<button id="respirador-desligar" onclick="desligarRespirador()">Desligar</button>
				</td>
			</tr>
			<tr>
				<td>Cardioversor</td>
				<td id="cardioversor-status">Desligado</td>
				<td>
					<button id="cardioversor-ligar" onclick="ligarCardioversor()">Ligar</button>
					<button id="cardioversor-desligar" onclick="desligarCardioversor()">Desligar</button>
				</td>
			</tr>
			<tr>
				<td>Botão de Emergência</td>
				<td id="botao-status">Desligado</td>
				<td>
					<button id="botao-acionar" onclick="acionarBotao()">Acionar</button>
					<button id="botao-desligar" onclick="desligarBotao()">Desligar</button>
				</td>
			</tr>
		</tbody>
	</table>
</body>