<!DOCTYPE html>
<html>
<head>
	<title>Painel de Leito</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">

</head>
<body>
	<h2>Bomba de Infusão</h2>
    <table>
        <tr>
            <th>Item</th>
            <th>Quantidade</th>
            <th>Taxa</th>
        </tr>
        <tr>
            <td>Medicamento 1</td>
            <td>{{ qtd_med1 }}</td>
            <td>{{ taxa_med1 }}</td>
        </tr>
        <tr>
            <td>Medicamento 2</td>
            <td>{{ qtd_med2 }}</td>
            <td>{{ taxa_med2 }}</td>
        </tr>
        <tr>
            <td>Soro Fisiológico</td>
            <td>{{ qtd_soro }}</td>
            <td>{{ taxa_soro }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Status</th>
            <th>Valor</th>
        </tr>
        <tr>
            <td>Bomba de Infusão</td>
            <td>{{ bomba_infusao_ligado }}</td>
        </tr>
    </table>
</body>